<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="HandheldFriendly" content="true" />
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="description" content="Clan Español Arma 3. SILVER FORCE. Clan para Jugar Arma 3. Juego PC Simulación Bélica. Estamos Reclutando para Jugar con Amigos al ARMA3 ¡Alístate Aquí!">
  <meta name="author" content="Lander Laparra">

  <title>Silver Force</title>

  <!-- Icono -->
  <link rel="manifest" href="./manifest.json">
  <link rel="apple-touch-icon" sizes="57x57" href="${require('./assets/img/icons/apple-icon-57x57.png')}">
  <link rel="apple-touch-icon" sizes="60x60" href="${require('./assets/img/icons/apple-icon-60x60.png')}">
  <link rel="apple-touch-icon" sizes="72x72" href="${require('./assets/img/icons/apple-icon-72x72.png')}">
  <link rel="apple-touch-icon" sizes="76x76" href="${require('./assets/img/icons/apple-icon-76x76.png')}">
  <link rel="apple-touch-icon" sizes="114x114" href="${require('./assets/img/icons/apple-icon-114x114.png')}">
  <link rel="apple-touch-icon" sizes="120x120" href="${require('./assets/img/icons/apple-icon-120x120.png')}">
  <link rel="apple-touch-icon" sizes="144x144" href="${require('./assets/img/icons/apple-icon-144x144.png')}">
  <link rel="apple-touch-icon" sizes="152x152" href="${require('./assets/img/icons/apple-icon-152x152.png')}">
  <link rel="apple-touch-icon" sizes="180x180" href="${require('./assets/img/icons/apple-icon-180x180.png')}">
  <link rel="apple-touch-startup-image" href="${require('./assets/img/logo.jpg')}">
  <link rel="icon" type="image/png" sizes="192x192" href="${require('./assets/img/icons/android-icon-192x192.png')}">
  <link rel="icon" type="image/png" sizes="32x32" href="${require('./assets/img/icons/favicon-32x32.png')}">
  <link rel="icon" type="image/png" sizes="96x96" href="${require('./assets/img/icons/favicon-96x96.png')}">
  <link rel="icon" type="image/png" sizes="16x16" href="${require('./assets/img/icons/favicon-16x16.png')}">

  <meta name="msapplication-TileColor" content="#000000">
  <meta name="msapplication-TileImage" content="${require('./assets/img/icons/ms-icon-144x144.png')}">
  <meta name="theme-color" content="#000000">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>


<body>
  <div id="top"></div>

  <header class="main_h ">

    <div class="mynav-row">
      <a class="logo" href="javascript:goTo('main')">Silver Force</a>

      <div class="mobile-toggle">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <div class="mynav-nav">
        <ul>
          <li>
            <a href="http://steamcommunity.com/groups/arma3clansilverforce">
              <i class="fab fa-steam mr-2"></i>Grupo de Steam</a>
          </li>
          <li>
            <a href="javascript:goTo('missions')">Archivo de misiones</a>
          </li>
          <li>
            <a href="javascript:goTo('members')">Barracones</a>
          </li>
        </ul>
      </div>

    </div>
    <!-- / row -->

  </header>

  <!-- trianglify pattern container -->
  <div class="pattern pattern--hidden"></div>

  <!-- Header -->
  <div class="header">
    <%= require('html-loader?interpolate!./assets/html/template/header.html') %>
  </div>

  <!-- PAGE - Main -->
  <div id="main" class="page show">
    <%= require('html-loader?interpolate!./assets/html/main/main.html') %>
  </div>

  <!-- PAGE - Members -->
  <div id="members" data-title="Barracones" class="page">
    <%= require('html-loader?interpolate!./assets/html/members/members.html') %>
  </div>

  <!-- PAGE - Missions -->
  <div id="missions" data-title="Archivo de misiones" class="page">
    <%= require('html-loader?interpolate!./assets/html/missions/missions.html') %>
  </div>

  <div class="bg-primary">
    <!-- PAGE - Missions - Series - ORO BLANCO -->
    <div id="oroBlanco" data-title="Oro blanco" class="page missions">
      <%= require('html-loader?interpolate!./assets/html/missions/series/oroBlanco/oroBlanco.html') %>
    </div>
    <!-- PAGE - Missions - Series - ORO BLANCO - Op Atenea -->
    <div id="opAtenea" data-title="Op. Atenea" class="page missions">
      <%= require('html-loader?interpolate!./assets/html/missions/series/oroBlanco/01_opAtenea/opAtenea.html') %>
    </div>
    <!-- PAGE - Missions - Series - ORO BLANCO - Golpe al cártel -->
    <div id="golpeAlCartel" data-title="Golpe al cártel" class="page missions">
      <%= require('html-loader?interpolate!./assets/html/missions/series/oroBlanco/02_golpeAlCartel/golpeAlCartel.html') %>
    </div>
    <!-- PAGE - Missions - Series - ORO BLANCO - Sangre por sangre -->
    <div id="sangrePorSangre" data-title="Sangre por sangre" class="page missions">
      <%= require('html-loader?interpolate!./assets/html/missions/series/oroBlanco/03_sangrePorSangre/sangrePorSangre.html') %>
    </div>

    <!-- PAGE - Missions - Night rescue -->
    <div id="nightRescue" data-title="Night rescue" class="page missions">
      <%= require('html-loader?interpolate!./assets/html/missions/nightRescue/nightRescue.html') %>
    </div>

    <!-- PAGE - Missions - SAS-God Shave The Queen -->
    <div id="sasGodShaveTheQueen" data-title="SAS - God shave the queen" class="page missions">
      <%= require('html-loader?interpolate!./assets/html/missions/sasGodShaveTheQueen/sasGodShaveTheQueen.html') %>
    </div>

    <!-- PAGE - Missions - Silver or lead -->
    <div id="silverOrLead" data-title="Silver or lead" class="page missions">
      <%= require('html-loader?interpolate!./assets/html/missions/silverOrLead/silverOrLead.html') %>
    </div>

    <!-- PAGE - Missions - Night force -->
    <div id="nightForce" data-title="Night force" class="page missions">
      <%= require('html-loader?interpolate!./assets/html/missions/nightForce/nightForce.html') %>
    </div>

    <!-- PAGE - Missions - Caza de brujas -->
    <div id="cazaDeBrujas" data-title="Caza de brujas" class="page missions">
      <%= require('html-loader?interpolate!./assets/html/missions/cazaDeBrujas/cazaDeBrujas.html') %>
    </div>

    <!-- PAGE - Missions - Caza al terrorista -->
    <div id="cazaAlTerrorista" data-title="Caza al terrorista" class="page missions">
      <%= require('html-loader?interpolate!./assets/html/missions/cazaAlTerrorista/cazaAlTerrorista.html') %>
    </div>

    <!-- PAGE - Missions - Op. fuerza letal -->
    <div id="opFuerzaLetal" data-title="Op. fuerza letal" class="page missions">
      <%= require('html-loader?interpolate!./assets/html/missions/opFuerzaLetal/opFuerzaLetal.html') %>
    </div>

    <!-- PAGE - Missions - Bird in chains -->
    <div id="birdInChains" data-title="Bird in chains" class="page missions">
      <%= require('html-loader?interpolate!./assets/html/missions/birdInChains/birdInChains.html') %>
    </div>

    <!-- PAGE - Missions - Searching weapons -->
    <div id="searchingWeapons" data-title="Searching weapons" class="page missions">
      <%= require('html-loader?interpolate!./assets/html/missions/searchingWeapons/searchingWeapons.html') %>
    </div>

    <!-- PAGE - Missions - Bengasi defense -->
    <div id="bengasiDefense" data-title="Bengasi defense" class="page missions">
      <%= require('html-loader?interpolate!./assets/html/missions/bengasiDefense/bengasiDefense.html') %>
    </div>

    <!-- PAGE - Missions - Blue wings -->
    <div id="blueWings" data-title="Blue wings" class="page missions">
      <%= require('html-loader?interpolate!./assets/html/missions/blueWings/blueWings.html') %>
    </div>

    <!-- PAGE - Missions - Op. propósitos especiales -->
    <div id="opPropositosEspeciales" data-title="Op. propósitos especiales" class="page missions">
      <%= require('html-loader?interpolate!./assets/html/missions/opPropositosEspeciales/opPropositosEspeciales.html') %>
    </div>

    <!-- PAGE - Missions - Oktoberfest -->
    <div id="oktoberfest" data-title="Oktoberfest" class="page missions">
      <%= require('html-loader?interpolate!./assets/html/missions/oktoberfest/oktoberfest.html') %>
    </div>

    <!-- PAGE - Missions - Op. garra -->
    <div id="opGarra" data-title="Op. garra" class="page missions">
      <%= require('html-loader?interpolate!./assets/html/missions/opGarra/opGarra.html') %>
    </div>

    <!-- PAGE - Missions - Leones y Hienas -->
    <div id="leonesYHienas" data-title="Leones y hienas" class="page missions">
      <%= require('html-loader?interpolate!./assets/html/missions/leonesYHienas/leonesYHienas.html') %>
    </div>

    <!-- PAGE - Missions - Bad business -->
    <div id="badBusiness" data-title="Bad business" class="page missions">
      <%= require('html-loader?interpolate!./assets/html/missions/badBusiness/badBusiness.html') %>
    </div>

    <!-- PAGE - Missions - Op. actuación directa -->
    <div id="opActuacionDirecta" data-title="Op. actuación directa" class="page missions">
      <%= require('html-loader?interpolate!./assets/html/missions/opActuacionDirecta/opActuacionDirecta.html') %>
    </div>

    <!-- PAGE - Missions - Valley of the damned -->
    <div id="valleyOfTheDamned" data-title="Valley of the damned" class="page missions">
      <%= require('html-loader?interpolate!./assets/html/missions/valleyOfTheDamned/valleyOfTheDamned.html') %>
    </div>
  </div>

  <!-- Loading -->
  <div class="loading">
    <%= require('html-loader?interpolate!./assets/html/template/loading.html') %>
  </div>

  <!-- Footer -->
  <div class="footer">
    <%= require('html-loader?interpolate!./assets/html/template/footer.html') %>
  </div>




  <!-- Google Analytics -->
  <script type="text/javascript">
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-57353378-2', 'auto');
    ga('send', 'pageview');
  </script>

</body>

</html>