<div id="contacto" class="container">
  <div class="row">
    <div class="col-lg-10 offset-lg-1 text-center">
      <h4><strong>Silver Force</strong>
                  </h4>
      <p>Clan hispanohablante del ArmA III
        <br>Servidor dedicado localizado en España</p>
      <ul class="list-unstyled">
        <li><i class="fas fa-envelope fa-fw"></i> <a href="mailto:silverforceclanarma@gmail.com">silverforceclanarma@gmail.com</a>
        </li>
      </ul>
      <br>
      <p><strong>Autor:&nbsp;</strong>Lander Laparra</p>
      <ul class="list-inline">
        <li class="list-inline-item">
          <a href="https://plus.google.com/+LanderLaparra"><i class="fab fa-google-plus fa-fw fa-3x"></i></a>
        </li>
        <li class="list-inline-item">
          <a href="https://twitter.com/lapitzasclub"><i class="fab fa-twitter fa-fw fa-3x"></i></a>
        </li>
      </ul>
      <hr class="small">
      <p class="text-muted">Copyright &copy; Silver Force 2016</p>
    </div>
  </div>
</div>
